@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
:root {
  --background-color: #F2F2F2;        /* світлий фон, злегка теплий */
  --text-color: #223440;              /* насичений темний сірий/синюватий для тексту */
  --heading-color: #aeeaff;           /* темний глибокий фіолетово-синій для заголовків */
  --button-color: #5D7A8C;            /* стриманий синьо-сірий для кнопок */
  --button-hover-color: #BACBD9;      /* м’який світлий блакитно-сірий для hover */
  --border-accent-color: #BACBD9;     /* той самий ніжний акцент для бордерів */
}

/* Базовий фон і шрифт */
body {
  background: linear-gradient(135deg, #324557, #5D7A8C) !important;
  color: var(--text-color);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

/* Заголовки */
h1 {
  color: var(--heading-color) !important;
}
h2, h3, h4, h5, h6 {
  color: #000000 !important;
}
/* Кнопки */


/* Таблиці */
table {
  border-collapse: collapse;
  width: 100%;
  background-color: #fff;
  border: 1px solid var(--border-accent-color) !important;
}

th, td {
  border: 1px solid var(--border-accent-color) !important;
  padding: 12px;
  text-align: left;
}

th {
  background-color: var(--button-color) !important;
  color: white;
}

tr:nth-child(even) {
  background-color: #E9F2F9 !important;
}

/* Посилання */


a:hover {
  color: var(--button-hover-color) !important;
  text-decoration: underline;
}

footer{
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 20px;

}